{% extends 'base.html' %}
<script>
  {% block jquery %}
  var endpoint = "/api/chart/data/";
  var defaultdata = []
  var labels=[]
  $.ajax({
    method: "GET",
    url: endpoint,
    success: function(data) {
      console.log(data.labels);
      labels = data.labels;
      defaultdata = data.default;
      var ctx = document.getElementById("myChart");
      var myChart = new Chart(ctx, {
          type: "bar",
          data: data,
          options: {
            maintainAspectRatio: true,
            responsive: true,
            scales: {
            xAxes: [{
                stacked: true
            }],
            yAxes: [{
                stacked: true
            }]
        }
    }
          })
      },
    error: function(error_data) {
      console.log("error");
      console.log(error_data);
    }
  });
  {% endblock %}
</script>

{% block content %}
<h1 class="section-heading">Your Dashboard</h1>
<h5 class="section-subheading">Monthly Staff Makeup</h5>
<div class="dashboard-chart-container" url-endpoint='{% url "api-data" %}'>
  <canvas id="myChart"></canvas>
</div>
{% endblock content %}
