{% extends 'base.html' %} {% block content %}
<section class="company-info">
  <section>
    <h2 class="company-name">{{ company.name }}</h2>
  </section>

  <section class="roles-table">
    <table class="table">
      <tr>
        <th>List of Roles</th>
        <th></th>
      </tr>
      {% for role in company.roles.all %}
      <tr>
        <td>{{ role.title }}</td>
        <td>
          <a href="#"><i class="far fa-trash-alt"></i></a>
        </td>
      </tr>
      {% endfor %}
    </table>
  </section>

  <div>
    <h5>Add a new role</h5>
    <form class="one-input-form" method="POST">
      {% csrf_token %}
      {{ form.as_p }}
      <button type="submit">Add</button>
    </form>
  </div>
</section>
{% endblock %}
