{% extends 'base.html' %} {% block content %}
<section class="company-info">
  <section>
    <h2 class="company-name">{{ company.name }}</h2>
  </section>

  <section class="roles-table">
    <table class="table">
      <tr>
        <th class="table__heading">COMPANY ROLES</th>
        <th></th>
      </tr>
      {% for role in company.roles.all %}
      <tr>
        <td>{{ role.title }}</td>
        <td>
          <a href="{% url 'delete_company_role' pk=role.pk %}"><i class="far fa-trash-alt"></i></a>
        </td>
      </tr>
      {% endfor %}
    </table>
  </section>

  <div class="form-horizontal">
    <h5 class="table__heading">ADD NEW ROLE:</h5>
    <form method="POST">
      {% csrf_token %}
      {{ form.title }}
      <button class="form__button" type="submit">Add</button>
    </form>
  </div>
</section>
{% endblock %}