{% extends 'base.html' %} {% block content %}

<div class="employee__heading">
  <h2>{{employee.name}} <span class="employee__link"><a href='/employee/{{employee.pk}}/edit'>[edit]</a></span>
  </h2>
  <p>{{employee.role}}</p>
  <p>Status: {{employee.status}}</p>
</div>

<section class="employee__container">
  <h4 class="table__heading">ROLES</h4>
  <table class="table table-bordered">
    <tr>
      <th>Start Date</th>
      <th>End Date</th>
      <th>Role</th>
      <th>Delete</th>
    </tr>
    {% for role in roles %}
    <tr>
      <td>{{ role.start_date }}</td>
      <td>{{ role.end_date }}</td>
      <td>{{ role.role_type }}</td>

      <td>
        <a href="{% url 'role_log_delete' pk=role.pk %}"><i class="far fa-trash-alt"></i></a>
      </td>
    </tr>
    {% endfor %}
  </table>
  <br>
  <h4 class="table__heading">NEW ROLE</h4>
  <table class="table table-bordered">
    <form method="post">
      {% csrf_token %}
      <tr>
        <td>{{ form.start_date }}</td>
        <td>{{ form.end_date }}</td>
        <td class="form__select">{{ form.role_type }}</td>
        <td><button type="submit" class="form__button">Save</button>
        </td>
      </tr>
  </table>
  </form>
  </table>
</section>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
  integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
{{ form.media }}
<script>
  $(function () {
    $("#datetimepicker1").datetimepicker({
      format: "MM/DD/YYYY"
    });
  });
</script>

{% endblock %}
</section>
</section>