<link href="../static/css/employee_list.css" rel="stylesheet" />
{% extends 'base.html' %} {% block content %}

<section class="employees-list">
  <div class="tabs-container">
    <button id="active-button">Active Employees</button>
    <button id="inactive-button">Former Employees</button>
  </div>

  <section class="main-employees-container">
    <table class="table" id="active">
      <tr class="thead-light">
        <th>Name</th>
        <th>Current Role</th>
        <th>Start Date</th>

      </tr>
      {% for employee in active %}
      <tr>
        <td>
          <a href="/employee/{{ employee.pk }}">{{ employee.name }}</a>
        </td>
        <td>{{ employee.role }}</td>
        <td>{{ employee.start_date }}</td>

      </tr>
      {% endfor %}
    </table>

    <table class="table" id="inactive">
      <tr class="thead-light">
        <th>Name</th>
        <th>Last Role</th>
        <th>Start Date</th>
        <th>End Date</th>
      </tr>
      {% for employee in inactive %}
      <tr>
        <td>
          <a href="/employee/{{ employee.pk }}">{{ employee.name }}</a>
        </td>
        <td>{{ employee.role }}</td>
        <td>{{ employee.start_date }}</td>
        <td>{{ employee.end_date }}</td>

      </tr>
      {% endfor %}
    </table>
  </section>
</section>
{% endblock %}
<script>
  {% block jquery %}
  $("#inactive-button").click(function () {
    $("#inactive").show()
    $('#active').hide()
  });

  $("#active-button").click(function () {
    $("#active").show()
    $('#inactive').hide()
  });
  {% endblock %}
</script>