<link rel="stylesheet" href="../static/css/employee_detail.css" />

<section class="new-role">
  <h5>Edit Role:</h5>
  <form method="post">
    {% csrf_token %}

    <table class="table">
      <tr>
        <th>Start Date</th>
        <th>End Date</th>
        <th>Position</th>
      </tr>
      <tr>
        <td>{{ form.start_date }}</td>
        <td>{{ form.end_date }}</td>
        <td>{{ form.role_type }}</td>
      </tr>
    </table>

    <button type="submit" class="form-button">Save</button>
  </form>
</section>
