<nav class="nav">
  <h1 class="nav__title">
    <a class="nav__title-link" href="/">Staffing Tracker</a>
  </h1>
  <hr />
  <p class="nav__subtitle">
    <i class="fas fa-user-circle"></i>{{ user.first_name }} {{ user.last_name }}
  </p>
  <ul class="nav__link-list">
    {% if user.is_authenticated %}
    <li class="nav__item"><a class="nav__link" href="/">Dashboard</a></li>
    <li class="nav__item">
      <a class="nav__link" href="/employees/">Employees</a>
    </li>
    <li class="nav__item">
      <a class="nav__link" href="/employee/new">New Employee</a>
    </li>
    <li class="nav__item">
      <a class="nav__link" href="/company/">Company Roles</a>
    </li>
    <li class="nav__item"><a class="nav__link" href="/logout">Logout</a></li>
    {% else %}
    <li class="nav__item">
      <a class="nav__link" href="{% url 'login'%}?next={{ request.path }}"
        >Login</a
      >
    </li>
    <li class="nav__item">
      <a class="nav__link" href="{% url 'signup'%}?next={{ request.path }}"
        >Sign Up</a
      >
    </li>
    {% endif %}
  </ul>
</nav>
