<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Signup</title>
    <link href="/static/css/main.css" rel="stylesheet" />
  </head>
  <body class="form__container">
    <form class="form" action="{% url 'signup' %}" method="post">
        {% csrf_token %}
      <h1 class="form__title">Staffing Tracker Signup</h1>
      {% for field in form.visible_fields %}
      <div>
        <p class="form__label">{{ field.label_tag }}</p>
        <div class="form__input">{{ field }}</div>
        
      </div>
      {% endfor %}
      <button class="form__button" type="submit">Submit</button>
      <a class="form__link" href="/login/">Or Login as Exisiting User<a>
    </form>
  </body>
</html>
