.wrapper {
	display: flex;
	align-items: stretch;
}

#sidebar {
	min-height: 100vh;
	background-color: #c9be94a3;
	width: 230px;
}

#sidebar.active {
	margin-left: -250px;
}

#content {
	display: block;
	width: 80vw;
	margin: 50px;
}
