@import url('https://fonts.googleapis.com/css?family=Catamaran:300|Neuton|Work+Sans:300');

$mainfont: 'Catamaran', sans-serif;
$darkblue: #35434c;
$darkgreen: #465c4b;
$yellow: #98946f;
$khaki: #c9be94;
$lightyellow: #f5edbe;
$grey: rgba(223, 223, 223, 0.64);

form {
	background-color: $grey;
	box-shadow: 0px 2px 23px 0px rgba(0, 0, 0, 0.75);
	border-radius: 10px;
	width: 45%;
	padding: 40px;
	margin-left: 15em;
	margin-top: 3em;
	li {
		list-style-type: none;
	}
}

h1 {
	color: $darkblue;
}

h2 {
	margin-bottom: 30px;
}

button {
	font-family: 'Catamaran', serif;
	border-radius: 4px;
	font-size: 15px;
	background-color: rgba(85, 85, 85, 0.187);
}
