.employees-list {
  width: 60vw;
}

.tabs-container {
  display: inline;
  margin: 1rem;
  p {
    display: inline;
    padding: 1rem 3rem;
    border: 1px solid black;
  }
}

.main-employees-container {
  margin: 1rem;
  padding-top: 2rem;
}
