@import url('https://fonts.googleapis.com/css?family=Catamaran:300|Neuton|Work+Sans:300');

$mainfont: 'Catamaran', sans-serif;
$darkblue: #35434c;
$darkgreen: #465c4b;
$yellow: #98946f;
$khaki: #c9be94;
$lightyellow: #f5edbe;

.login-bg {
	background-image: url('/static/images/shortcity.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}

h1 {
	font-family: 'Catamaran', serif;
	color: #35434c;
}

h2 {
	font-family: 'Catamaran', sans-serif;
	color: #35434c;
	margin: auto;
	text-align: center;
}

form {
	background-color: rgba(255, 255, 255, 0.324);
	box-shadow: 0px 2px 23px 0px rgba(0, 0, 0, 0.75);
	margin: auto;
	margin-top: 100px;
	width: 50%;
	padding: 30px;
	text-align: center;
	width: fit-content;
	border-radius: 5px;
	font-family: 'Catamaran', serif;
	li {
		list-style-type: none;
	}
	input {
		border-radius: 5px;
		border: 1px solid rgba(85, 85, 85, 0.324);
	}
	label {
		font-size: 20px;
		color: rgb(128, 125, 125);
	}
	ul {
		margin: 0;
	}
}

input {
	font-family: 'Catamaran', serif;
	border-radius: 4px;
	font-size: 15px;
	background-color: rgba(85, 85, 85, 0.187);
}

a {
	font-size: 10px;
	text-decoration: none;
	color: rgba(81, 86, 145, 0.818);
}
