@import url("https://fonts.googleapis.com/css?family=Noto+Sans|Roboto|Ubuntu+Mono");
$base-background: #475153;
$main-font-color: #f2efea;
$blue-accent: #66d7d1;
$red-accent: #ee6352;
$heading-font: "Ubuntu Mono", monospace;
$body-font: "Roboto", sans-serif;

* {
  box-sizing: border-box;
}
// Sidebar Nav
.nav {
  background: $base-background;
  position: fixed;
  height: 100%;
  display: flex;
  width: 15rem;
  flex-direction: column;
}

.nav__title {
  text-align: center;
  font-size: 2.5rem;
  font-family: $heading-font;
}

.nav__title-link {
  text-decoration: none;
  color: $main-font-color;
}

.nav__title-link:hover {
  text-decoration: none;
  color: $main-font-color;
}

.nav__subtitle {
  padding: 0 2rem;
  font-size: 1.2rem;
  text-align: center;
  font-family: $body-font;
  color: $blue-accent;
  i {
    color: $blue-accent;
    padding-right: 1rem;
  }
}

.nav__link-list {
  list-style-type: none;
  padding: 0;
}

.nav__item {
  padding: 1.5rem;
  font-family: $body-font;
  font-size: 1rem;
  text-align: right;
  text-transform: uppercase;
  a {
    text-decoration: none;
    color: $main-font-color;
  }
}

.nav__item:hover {
  background: #394142;
  a {
    text-decoration: none;
    color: $blue-accent;
  }
}

// Main content container

.content {
  margin-left: 15rem;
  padding: 1.5rem;
}

// Dashboard

.dashboard__heading {
  font-family: $heading-font;
  color: $red-accent;
}

.dashboard__chart-title {
  font-family: $body-font;
  font-size: 1.5rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.dashboard__chart-container {
  height: 2rem;
}

// signup form

.form {
  background: rgba(255, 255, 255, 0.88);
  width: 20rem;
  margin: 0 auto;
  padding: 2rem;
  display: flex;
  flex-direction: column;
}

.form__title {
  font-size: 2rem;
  font-family: $heading-font;
  text-align: center;
  color: $red-accent;
}

.form__label {
  text-transform: uppercase;
  font-family: $body-font;
  font-size: 0.7rem;
  margin-bottom: 0.3rem;
}

.form__input {
  margin-bottom: 1rem;

  input {
    display: block;
    width: 100%;
    border: none;
    height: 1.5rem;
    border: $base-background solid 0.02rem;
    font-size: 0.9rem;
    padding: 2% 5%;
  }
}

.form__container {
  background-image: url("../images/Subtle-Prism.svg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  margin: 0;
  padding: 2rem;
}
.form__button-container {
  margin-top: 2rem;
}
.form__button {
  background-color: $base-background;
  font-size: 1.2rem;
  font-family: $body-font;
  color: white;
  height: calc(2.25rem + 2px);
  width: 100%;
  margin: 0 auto;
}

.form__link {
  text-align: center;
  color: $red-accent;
  text-decoration: none;
  margin-top: 1rem;
  font-family: $body-font;
}

.form__dark {
  background: #dbdbdb;
  width: 20rem;
  margin: 2rem auto auto auto;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  input,
  select {
    height: 2rem;
    margin-bottom: 1rem;
    width: 100%;
  }
  h5 {
    margin-bottom: 2rem;
  }
}

// Employee Detail page

.employee__heading {
  background: #dbdbdb;
  padding: 1rem;
  h2 {
    font-family: $body-font;
    margin: 0;
  }
  p {
    font-family: $body-font;
    font-style: italic;
    margin: 0;
  }
}

.employee__container {
  width: 50rem;
  margin: 1rem auto;
}

.employee__link a {
  font-size: 1rem;
  color: #1f3a93;
}

.table__heading {
  margin: 1rem 0;
  color: $red-accent;
}

.form__select {
  select {
    height: calc(2.25rem + 2px);
  }
}

.form-horizontal {
  display: flex;
  justify-content: center;
  align-items: center;

  .table__heading {
    margin: 0 1rem 0 0;
  }

  .form__button {
    margin-left: 0.5rem;
  }

  form {
    display: flex;
  }
}
