@import url("https://fonts.googleapis.com/css?family=Noto+Sans|Roboto|Ubuntu+Mono");
.nav {
  background: #475153;
  position: fixed;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 15rem;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.nav__title {
  text-align: center;
  font-size: 2.5rem;
  font-family: "Ubuntu Mono", monospace;
}

.nav__title-link {
  text-decoration: none;
  color: #f2efea;
}

.nav__title-link:hover {
  text-decoration: none;
  color: #f2efea;
}

.nav__subtitle {
  padding: 0 2rem;
  font-size: 1.2rem;
  text-align: center;
  font-family: "Roboto", sans-serif;
  color: #66d7d1;
}

.nav__subtitle i {
  color: #66d7d1;
  padding-right: 1rem;
}

.nav__link-list {
  list-style-type: none;
  padding: 0;
}

.nav__item {
  padding: 1.5rem;
  font-family: "Roboto", sans-serif;
  font-size: 1rem;
  text-align: right;
  text-transform: uppercase;
}

.nav__item a {
  text-decoration: none;
  color: #f2efea;
}

.nav__item:hover {
  background: #394142;
}

.nav__item:hover a {
  text-decoration: none;
  color: #66d7d1;
}

.content {
  margin-left: 15rem;
  padding: 1.5rem;
}

.dashboard__heading {
  font-family: "Ubuntu Mono", monospace;
  color: #ee6352;
}

.dashboard__chart-title {
  font-family: "Roboto", sans-serif;
  font-size: 1.5rem;
  margin-top: 2rem;
  margin-bottom: 1rem;
}

.dashboard__chart-container {
  height: 2rem;
}

.form {
  background: rgba(255, 255, 255, 0.88);
  width: 20rem;
  margin: 2rem auto auto auto;
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form__title {
  font-size: 2rem;
  font-family: "Ubuntu Mono", monospace;
  text-align: center;
  color: #ee6352;
}

.form__label {
  text-transform: uppercase;
  font-family: "Roboto", sans-serif;
  font-size: 0.7rem;
  margin-bottom: 0.3rem;
}

.form__input {
  margin-bottom: 1rem;
}

.form__input input {
  display: block;
  width: 90%;
  border: none;
  height: 1.5rem;
  border: #475153 solid 0.02rem;
  font-size: 0.9rem;
  padding: 2% 5%;
}

.form__container {
  background-image: url("../images/Subtle-Prism.svg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.form__button-container {
  margin-top: 2rem;
}

.form__button {
  background-color: #475153;
  font-size: 1.2rem;
  font-family: "Roboto", sans-serif;
  color: white;
  height: calc(2.25rem + 2px);
  width: 100%;
  margin: 0 auto;
}

.form__link {
  text-align: center;
  color: #ee6352;
  text-decoration: none;
  margin-top: 1rem;
}

.form__dark {
  background: #dbdbdb;
  width: 20rem;
  margin: 2rem auto auto auto;
  padding: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.form__dark input,
.form__dark select {
  height: 2rem;
  margin-bottom: 1rem;
  width: 100%;
}

.form__dark h5 {
  margin-bottom: 2rem;
}

.employee__heading {
  background: #dbdbdb;
  padding: 1rem;
}

.employee__heading h2 {
  font-family: "Roboto", sans-serif;
  margin: 0;
}

.employee__heading p {
  font-family: "Roboto", sans-serif;
  font-style: italic;
  margin: 0;
}

.employee__container {
  width: 50rem;
  margin: 1rem auto;
}

.employee__link a {
  font-size: 1rem;
  color: #1f3a93;
}

.employee__title {
  margin: 1rem 0;
  color: #ee6352;
}

.form__select select {
  height: calc(2.25rem + 2px);
}
/*# sourceMappingURL=main.css.map */