@import url('https://fonts.googleapis.com/css?family=Catamaran:300|Neuton|Work+Sans:300');
@import url('https://fonts.googleapis.com/css?family=Istok+Web|Rajdhani|Rubik|Source+Code+Pro|Titillium+Web|Ubuntu');

$mainfont: 'Catamaran', sans-serif;
$darkblue: #35434c;
$darkgreen: #465c4b;
$yellow: #98946f;
$khaki: #c9be94;
$lightyellow: #f5edbe;

.brand {
	font-family: 'Rajdhani', sans-serif;
	letter-spacing: 25px;
	color: #35434c;
	font-size: 53px;
}

h2 {
	font-family: 'Catamaran', sans-serif;
	color: #35434c;
	margin: auto;
	text-align: center;
}

.signup-bg {
	background-image: url('/static/images/bluesunupbuild.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}

form {
	background-color: rgba(255, 255, 255, 0.749);
	box-shadow: 0px 2px 23px 0px rgba(128, 128, 128, 0.75);
	margin: auto;
	margin-top: 6em;
	width: 25%;
	padding: 10px;
	text-align: center;
	border-radius: 5px;
	font-family: 'Catamaran', serif;
	li {
		list-style-type: none;
		text-align: center;
		width: 30%;
	}
	// input {
	// 	border-radius: 5px;
	// 	border: 1px solid rgba(85, 85, 85, 0.324);
	// }
	label {
		font-size: 20px;
		color: $darkblue;
	}
	ul {
		margin: 0;
	}
}

button {
	font-family: 'Catamaran', serif;
	border-radius: 4px;
	font-size: 15px;
	background-color: rgba(85, 85, 85, 0.187);
}

a {
	font-size: 13px;
	text-decoration: none;
	color: rgba(81, 86, 145, 0.818);
}
