@import url("https://fonts.googleapis.com/css?family=Catamaran:300|Neuton|Work+Sans:300");
@import url("https://fonts.googleapis.com/css?family=Istok+Web|Rajdhani|Rubik|Source+Code+Pro|Titillium+Web|Ubuntu");

$mainfont: "Catamaran", sans-serif;
$darkblue: #35434c;
$darkgreen: #465c4b;
$yellow: #98946f;
$khaki: #c9be94;
$lightyellow: #f5edbe;

.brand {
  font-family: "Rajdhani", sans-serif;
  letter-spacing: 25px;
  color: #35434c;
  font-size: 40px;
}

h2 {
  font-family: "Catamaran", sans-serif;
  color: #35434c;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
}

.signup-bg {
  background-image: url("/static/images/bluesunupbuild.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

form {
  background-color: rgba(255, 255, 255, 0.89);
  box-shadow: 0px 2px 23px 0px rgba(128, 128, 128, 0.75);
  margin: auto;
  margin-top: 2em;
  width: 30vw;
  height: auto;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
  font-family: "Catamaran", serif;
  display: flex;
  flex-direction: column;
  li {
    list-style-type: none;
  }
  input {
    outline: none;
    width: 25vw;
    margin: 0 auto;
    padding: 5px;
  }
  label {
    width: 80%;
    font-size: 13px;
    color: $darkblue;
    font-family: "Catamaran", serif;
    text-align: left;
    margin: 0 auto;
  }
  ul {
    margin: 0;
  }
}

@media only screen and (max-width: 600px) {
  form {
    width: 100vw;
    margin: 0;
  }
}

.form-input {
  height: 30px;
  outline: none;
  box-shadow: 0px 2px 23px 0px rgba(154, 154, 154, 0.75);
  background-color: rgba(249, 249, 249, 0.701);
  border: 0px solid;
  color: rgb(55, 55, 55);
  border-radius: 5px;
  width: 15rem;
  text-align: center;
  margin: 5px auto;
}

#id_password1,
#id_password2 {
  height: 30px;
  outline: none;
  box-shadow: 0px 2px 23px 0px rgba(154, 154, 154, 0.75);
  background-color: rgba(249, 249, 249, 0.701);
  border: 0px solid;
  color: rgb(55, 55, 55);
  border-radius: 5px;
  width: 15rem;
  text-align: center;
  margin: 5px auto;
}

button {
  font-family: "Catamaran", serif;
  border-radius: 4px;
  font-size: 15px;
  width: 15rem;
  margin: 15px auto;
  color: white;
  background-color: rgba(19, 23, 80, 0.53);
}

a {
  font-size: 13px;
  text-decoration: none;
  color: rgba(81, 86, 145, 0.818);
}

.field-div {
  width: 25rem;
}
